nav {
    background-color: rgba(0, 0, 0, 0.884);
    font-size: larger;
    font-weight: bold;
}

.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    min-width: 40%;
    min-height: 7vh;
} 

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;

}

input[type="search"] {
    width: 60%;
    height: 60%;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: whitesmoke;
    transition: 0.3s;
}

input[type="submit"] {
    width: 30%;
    height: 30%;
    border: 1px solid green;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: green;
    background-color: rgb(39, 35, 35);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
input[type="submit"]:active {
    background-color: #3e8e41;
    transform: scale(0.95);
}

input[type="submit"]:hover {
    font-size: larger;
}

#nav {
    font-weight: 900;
    font-size: 30px;
}

#home {
    color: white;
    font-size: 24px;
}

#link {
    color: grey;
    font-size: 24px;
}

#dropdown {
    color: grey;
    font-size: 24px;
}
#dropdown::after  {
    content: '\25BC';
    font-size: 24px;
}
#disabled {
    color: rgb(75, 74, 74);
    font-size: 24px;
}

#toggle {
     border-bottom-left-radius: 100%;
     border-bottom-right-radius: 100%;
     height: 10px;
     padding-top: 10px;
     background-color: grey;
     margin: auto;
}

